{% extends '::base.html.twig' %}
{% block body %}
    <form class="right-side" action="{{ path('check_is_avalible_rooms') }}">
        <input type="text" name="date" value="{{ searchedRoom is defined ? searchedRoom : '' }}" placeholder="Wyszukaj">
        <select name="numbersOfRooms">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    </form>
    {% for room in rooms %}

    {% endfor %}
{% endblock %}
